<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Ciberseguridad</a></li>
                <li><a href="Fases.html">Fases</a></li>
            </ul>
        </nav>
    </header>
    <p>&#128151;</p>
    <p>&#128151;</p>
    <p><a href="#REC">1. Recopilación de información</a></p>
    <p><a href="#ANA">2. Analisis de vulnerabilidades</a></p>
    <p><a href="#EXP">3. Explotación</a></p>
    <p><a href="#POS">4. Post-explotación</a></p>
    <p><a href="#REP">5. Reportar vulnerabilidades</a></p>
    <section id="REC"></section>
    <img src="../static/recopilaciondeinformacion.png" style="width:1250px;height:720px;">
    <section id="ANA"></section>
    <img src="../static/analisisdevulnerabilidades.png" style="width:1250px;height:720px;">
    <p>El objetivo de> esta fase es encontrar el origen y la causa de la vulnerabilidad. Para ello se hace un escaner del sistema para ver posibles entradas de ataques informáticos.</p>
    <section id="EXP"></section>
    <img src="../static/Explotación.png" style="width:1250px;height:720px;">
    <p>La explotación es una fase en la que se aprovechan las vulnerabilidades del sistema para infiltrarse en él. Durante esta etapa no se efectúan tareas maliciosas.</p>
    <section id="POS"></section>
    <img src="../static/Post-explotación.png" style="width:1250px;height:720px;">
    <p>La fase de postexplotación incluye técnicas de escalada de privilegios, establecimiento de persistencia y ejecución de payloads.</p>
    <section id="REP"></section>
    <img src="../static/Reportar vulnerabilidades.png" style="width:1250px;height:720px;">
    <p>La elaboración de un informe de seguridad es una de las fases de un test de intrusión más importantes y esenciales, ya que el hacking no sería ético si no se reportan las fallas de seguridad encontradas. </p>
</body>