<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/index.html">Ciberseguridad</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 1.html">Fase1</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 2.html">Fase2</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 3.html">Fase3</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 4.html">Fase4</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 5.html">Fase5</a></li>
            </ul>
        </nav>
    </header>
    <img src="../static/analisisdevulnerabilidades.png" style="width:1250px;height:720px;">
    <p>El objetivo de esta fase es encontrar el origen y la causa de la vulnerabilidad. Para ello se hace un escaner del sistema para ver posibles entradas de ataques informáticos.</p>
</body>