<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/index.css" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/index.html">Ciberseguridad</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 1.html">Fase1</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 2.html">Fase2</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 3.html">Fase3</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 4.html">Fase4</a></li>
                <li><a href="file:///C:/Users/alumnado/Documents/GitHub/Pagina-web/template/Fase 5.html">Fase5</a></li>
            </ul>
        </nav>
    </header>
    <p>&#128151;</p>
    <p>&#128151;</p>
    <h1>CIBERSEGURIDAD</h1>
    <img src="../static/ciberseguridad.jpg" style="width:500px;height:400px;">
    <p>La ciberseguridad es la practica de defender sistemas dinformaticos que estan siendo atacados con fines maliciosos. </p>
    <p></p>
    <h2>Confidencialidad</h2>
    <p>La confidencialidad, en informática, es un principio fundamental de la seguridad que garantiza el necesario nivel de secreto de la información y de su tratamiento, para prevenir su divulgación no autorizada cuando está almacenada o en tránsito.</p>
    <p></p>
    <h3>Disponibilidad</h3>
    <p>La disponibilidad de la información o de los activos de información es el principio fundamental de la seguridad informática que asegura la fiabilidad y el acceso oportuno a los datos y recursos por parte de los individuos o personas autorizadas. Según las mejores prácticas y estándares internacionales de seguridad de la información (serie ISO 27000, NIST, ENISA, ENS…), el acceso a la información debe estar basado en el principio de necesidad de conocer, es decir, que solo aquellas personas que necesitan acceder a la información para el desempeño de sus tareas puedan hacerlo cuando lo necesiten.</p> 
    <p></p>
    <h4>Integridad</h4>
    <p>La integridad es la garantía de exactitud y fiabilidad de la información. Asegurando la integridad de la información y los datos se consigue prevenir cualquier modificación no autorizada.</p>
    <p></p>
    <h5>No repudio</h5>
    <p>El no repudio o irrenunciabilidad provee garantía al receptor de una comunicación en cuanto que el mensaje fue originado por el emisor y no por alguien que se hizo pasar por este.</p>
    <p></p>
    <h6>Ciberseguridad física</h6>
    <p>Son todas las soluciones relacionadas con la seguridad física y lógica de las instalaciones mediante sistemas de videogestión IP, control de acceso, control horario/personal, así como la seguridad de los sistemas informáticos.</p>
    <img src="../static/ciberseguridad fisica.jpeg" style="width:500px;height:400px;">
    <p></p>
    <h7>Ciberseguridad lógica</h7>
    <p>La seguridad lógica se refiere a los controles específicos establecidos para administrar el acceso a los sistemas informáticos y los espacios físicos dentro del centro de datos.</p>
    <img src="../static/ciberseguridad logica.webp" style="width:500px;height:400px;">
    <p></p>
    <h8>Ciberseguridad activa</h8>
    <p>La ciberseguridad activa está formada por todos aquellos elementos que intentan evitar los ciberataques. Estos elementos serían firewalls, sistemas antimalware, sistemas antivirus, sistemas de detección de intrusiones, implantación de cultura de ciberseguridad en la empresa, etc.</p>
    <img src="../static/ciberseguridad activa.jpg" style="width:500px;height:400px;">
    <p></p>
    <h9>Ciberseguridad pasiva</h9>
    <p>La ciberseguridad pasiva está formada por todos aquellos elementos que minimizan los efectos de un ciberataque una vez que se ha producido. Se trata de poner en marcha todos los mecanismos necesarios para bloquear el ataque y recuperar la normalidad en el menor plazo de tiempo posible.</p>
    <img src="../static/ciberseguridad pasiva.jpg" style="width:500px;height:400px;">
</body>
</html>